:root {
    --Basic_color: #018180;
    --Background: #2B2B2B;
}

@font-face {
    font-family: fontSans;
    font-style: normal;
    font-weight: 900;
    src: url('../font/en/WorkSans-Medium.ttf'), format('ttf');
}

@font-face {
    font-family: fontSans;
    font-style: normal;
    font-weight: 700;
    src: url('../font/en/WorkSans-Medium.ttf'), format('ttf');
}

@font-face {
    font-family: fontSans;
    font-style: normal;
    font-weight: 400;
    src: url('../font/en/WorkSans-Medium.ttf'), format('ttf');
}

@font-face {
    font-family: fa-font;
    font-size: normal;
    src: url('../font/fa/Dirooz-FD.ttf');
}

.fontSans {
    font-family: fontSans;
}

body {
    font-family: fontSans;
}

.background_color {
    background-color: var(--Background);
}

.text_bg_color {
    color: var(--Background);
}

.background_color_two {
    background-color: #3B3B3B;
}

.text_color_two {
    color: #3B3B3B;
}

.bg_color_basic {
    background-color: var(--Basic_color);
}

.bg_outline_basic {
    border: 2px solid var(--Basic_color);
    color: #fff;
    transition: background-color 300ms;
}

.bg_outline_basic:hover {
    background-color: var(--Basic_color);
}

.text_color_basic {
    color: var(--Basic_color);
}

.nav-link:hover {
    background-color: var(--Background);
}

.text-light-50 {
    color: #e4e4e4e8;
}

.bg-light-50 {
    background-color: #e4e4e4e8;
}

.badge_style {
    top: 18px !important;
    left: 20px !important;
    font-size: 18px !important;
}



.title_visiting_card {
    max-width: 100% !important;
}

.fs_creators_title {
    font-size: 22px !important;
}

.fs_creators_subtitle {
    font-size: 14px !important;
}

.fs_btn_creators {
    font-size: 20px !important;
}

.fs_icon_btn_creators {
    width: 20px;
}

.img_size_card_visiting_card {
    /* width: 100% !important; */
    width: 140px;
}

/* .magic_box {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../img/img-trending/NFT\ Highlight.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
}

.bg_gradient_magic {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background-image: linear-gradient(to top , #a159ffd6 , #ffffff00);
} */

.container_magic {
    width: 80% !important;
}

.bg_date_box_magic {
    background-color: #2b2b2b8b;
    backdrop-filter: blur(20px);
}

.fs_work_card_title {
    font-size: 1.75rem !important;
}

.fs_work_card_subtitle {
    font-size: 1.25rem !important;
}

.item_left_form {
    width: 45% !important;
}

.input_group_box {
    max-width: 200px !important;
}

.input_group_box::placeholder {
    font-size: 0.85rem;
}

/* .fs_lg_form_box {
    font-size: 1rem !important;
} */
.fs_title_form_box {
    font-size: 2.175rem !important;
}

.w_sm_100_img_form {
    width: 50%;
}

.w_lg_card_blog {
    width: 100%;
}

.header_content {
    width: 100%;
    min-height: 100vh;
    background-image: url('../img/background/1080.1920header.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
}

.navbar_bg {
    background-image: linear-gradient(to top, #c2c2c276, #c2c2c276);
    backdrop-filter: blur(10px);
}

.offcanvas-box {
    background-color: var(--Basic_color);
}

.box_title_page_logo {
    height: 500px;
    background-image: url('../img/img-trending/NFT\ Highlight.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
}

.title_logo_item {
    position: relative;
    width: 400px;
    height: 100%;
    display: flex;
}

.border_color_logo {
    border-top: 1px solid #e4e4e43b;
}

.btn_title_logo.active {
    border-bottom: 2px solid #e4e4e43b;
}

.ms_100 {
    margin-left: 100px;
}

.w_90 {
    width: 90% !important;
}

.border_modal {
    border-right: 2px solid #c2c2c276;
}

#title {
    font-weight: 700;
    font-size: 60px;
}

/* .height_modal {
    height: 300px !important;
} */

.vw_height_modal_img {
    height: 30vw;
}

.anime_box_item {
    transition: 300ms;
}

.anime_box_item:hover {
    box-shadow: 0 0 30px #ffffff38, 0 0 30px #ffffff38;
    transform: translateY(-15px);
}

.img-visiting-card {
    width: 90%;
    height: 90%;
}

/* .img-banner-card {
    width: 600px;
} */

.fs_title_modal {
    font-size: 2.5rem;
}

.fs_sub_title_modal {
    font-size: 1rem;
}

.body_size {
    width: 100%;
    height: 85%;
}

.h_btn_modal {
    height: 65%;
}

.modal_lg_one {
    --bs-modal-width: 1000px;
}

.btn_about {
    transition: background 300ms;
}

.btn_about:hover {
    background-color: #2B2B2B;
}

.btn_header {
    transition: background 300ms;
}

.btn_header:hover {
    background-color: #2B2B2B;
}

.border_navLink {
    border-bottom: 1px solid #3B3B3B;
}

.img_size_soecial {
    width: 70px;
}

.bg_box_special {
    background-color: #ffffff23;
    backdrop-filter: blur(10px);
    border: 1px solid #ffffff9a;
    box-shadow: 0 0 10px #268391, 0 0 10px #268391;
}

@media only screen and (min-width:1600.80px) {
    .modal_lg_one {
        --bs-modal-width: 1300px;
    }
}

@media only screen and (max-width:1400.80px) {
    .rounded_lg {
        border-radius: 1.4rem !important;
    }

    .modal_width {
        width: 900px !important;
    }

    .fs_title_modal {
        font-size: 2rem;
    }

    .fs_sub_title_modal {
        font-size: 0.933rem;
    }

    .modal_lg_one {
        --bs-modal-width: 900px;
    }
}

@media only screen and (max-width:1199.80px) {
    .fs_creators_title {
        font-size: 22px !important;
    }

    .fs_creators_subtitle {
        font-size: 14px !important;
    }

    .badge_style {
        top: 14px !important;
        left: 4px !important;
        font-size: 18px !important;
    }

    .fs_num_lg {
        font-size: 26px !important;
    }
}

@media only screen and (max-width:1024.80px) {
    .header_content {
        background-image: url('../img/background/1024.1366header.jpg');
    }
}

@media only screen and (max-width:768.80px) {
    .header_content {
        background-image: url('../img/background/768.1024header.jpg');
    }
}

@media only screen and (max-width:414.80px) {
    .header_content {
        background-image: url('../img/background/414.869header\ copy.jpg');
    }
}

@media only screen and (max-width:375.80px) {
    .header_content {
        background-image: url('../img/background/375.667header\ copy.jpg');
    }
}

@media only screen and (max-width:991.80px) {

    /* .fs_title {
        font-size: 50px !important;
    } */

    .fs_text {
        font-size: 1.125rem !important;
    }

    .rounded_lg {
        border-radius: 1.2rem !important;
    }

    .fs_num_lg {
        font-size: 20px !important;
    }

    .fs_creators_title {
        font-size: 22px !important;
    }

    .fs_creators_subtitle {
        font-size: 16px !important;
    }

    .badge_style {
        top: 18px !important;
        left: 4px !important;
        font-size: 14px !important;
    }

    .fs_btn_creators {
        font-size: 14px !important;
    }

    .title_visiting_card {
        max-width: 75% !important;
    }

    .img_size_card_visiting_card {
        width: 100% !important;
    }

    .img_box_size_card_visiting_card {
        width: 25% !important;
    }

    .container_magic {
        width: 90% !important;
    }

    .fs_work_card_title {
        font-size: 1.32rem !important;
    }

    .fs_work_card_subtitle {
        font-size: 1.12rem !important;
    }

    .border_modal {
        border-right: 0;
        border-bottom: 2px solid #c2c2c276;
    }

    .height_modal {
        height: 300px !important;
    }

    .vw_height_modal_img {
        height: 60vw;
    }

    .body_size {
        width: 100%;
        height: 80%;
    }
}

@media only screen and (max-width:767.80px) {
    .fs_title {
        font-size: 45px !important;
    }

    .fs_text {
        font-size: 1.125rem !important;
    }

    .fs_creators_title {
        font-size: 22px !important;
    }

    .fs_creators_subtitle {
        font-size: 12px !important;
    }

    .title_sub_text {
        font-size: 28px !important;
    }

    .sub_text {
        font-size: 18px !important;
    }

    .wrap_flex {
        flex-wrap: wrap;
    }

    .title_visiting_card {
        max-width: 50% !important;
    }

    .title_visiting_card_2 {
        max-width: 55% !important;
    }

    .column_gap_items_md {
        column-gap: 1rem !important;
    }

    .rounded_lg {
        border-radius: 1.1rem !important;
    }

    .fs_work_card_title {
        font-size: 1.75rem !important;
    }

    .fs_work_card_subtitle {
        font-size: 1.35rem !important;
    }

    .fs_title_form_box {
        font-size: 1.85rem !important;
    }

    .w_lg_card_blog {
        width: 80%;
    }

    .fs_time_text {
        font-size: 12px !important;
    }

    .vw_height_modal_img {
        height: 60vw;
    }

    .height_modal {
        height: 200px !important;
    }

    .img-visiting-card {
        width: 100%;
    }

    /* .img-banner-card {
        width: 120%;
    } */
    .w_modal_body {
        width: 100%;
    }
}

@media only screen and (max-width:575.80px) {
    .f_size_title {
        font-size: 30px !important;
    }

    .p_y_nav {
        padding-top: 14px !important;
        padding-bottom: 14px !important;
    }

    .f_size_brand {
        font-size: 22px !important;
    }

    .logo_size {
        width: 26px;
    }

    .fs_title {
        font-size: 32px !important;
    }

    .f_size_subtitle {
        font-size: 20px !important;
    }

    .f_size_text {
        font-size: 16px !important;
    }

    .f_size_text_num {
        font-size: 24px !important;
    }

    .f_size_btn {
        font-size: 20px !important;
    }

    .title_sub_text {
        font-size: 24px !important;
    }

    .sub_text {
        font-size: 16px !important;
    }

    .fs_btn_creators {
        font-size: 22px !important;
    }

    .title_visiting_card {
        max-width: 90% !important;
    }

    .title_visiting_card_2 {
        max-width: 90% !important;
    }

    .column_gap_items_md {
        column-gap: 1.5rem !important;
    }

    .fs_num_lg {
        font-size: 28px !important;
    }

    .fs_creators_title {
        font-size: 22px !important;
    }

    .fs_creators_subtitle {
        font-size: 14px !important;
    }

    .w_sm_100_img_form {
        width: 100%;
    }

    .item_left_form {
        width: 80% !important;
    }

    .w_lg_card_blog {
        width: 100%;
    }

    .vw_height_modal_img {
        height: 70vw;
    }
}

/* @media (min-width: 1200px) {
    .modal-xl {
        --bs-modal-width: 95%;
    }
} */
.modal-xl {
    --bs-modal-width: 95%;
}

/* @media only screen and (min-width:575.80px) {
    .w_modal_body {
        width: 75%;
    }
} */

/* 834 */
/* 1280 */
/* 375 */

.title_text_hover {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

/* * button styling */
.title_text_hover {
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255, 0.6);
    --animation-color: #37FF8B;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

.title_text_hover:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}

/* * button styling */
.btn_see_more {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: normal;
    text-transform: uppercase;
    cursor: pointer;
    color: #2c9caf;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #2c9caf;
}

.btn_see_more:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #70bdca;
    box-shadow: 4px 5px 17px -4px #268391;
}

.btn_see_more::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #2c9caf;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

.btn_see_more:hover::before {
    width: 250%;
}

.tel_shadow {
    border-radius: 50%;
    transition: 300ms;
}

.tel_shadow:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 20px #2AABEE;
}

.linkedin_shadow {
    border-radius: 15%;
    transition: 300ms;
}

.linkedin_shadow:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 20px #0a66c2;
}

.ins_shadow {
    border-radius: 15%;
    transition: 300ms;
}

.ins_shadow:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 20px #c837ab;
}

.text_shadow_footer {
    transition: 300ms;
    cursor: pointer;
}

.text_shadow_footer:hover {
    transform: translateX(10px);
}

.text_shadow_footer:hover>a {
    color: #37ff8a85;
    -webkit-text-stroke: 0.5px #37ff8a85;
}

.text_shadow_footer:hover>span {
    color: #37ff8a85;
    -webkit-text-stroke: 0.5px #37ff8a85;
}

.text_shadow_footer_fs {
    transition: 300ms;
    cursor: pointer;
}

.text_shadow_footer_fs:hover {
    transform: translateX(-10px);
}

.text_shadow_footer_fs:hover>a {
    color: #37ff8a85;
    -webkit-text-stroke: 0.5px #37ff8a85;
}

.text_shadow_footer_fs:hover>span {
    color: #37ff8a85;
    -webkit-text-stroke: 0.5px #37ff8a85;
}

/* about */
.btn_about_st {
    position: relative;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #e8e8e8;
    padding: 15px 30px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.4s ease;
}

.btn_about_st:before {
    content: "";
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 20%;
    background-color: #e8e8e8;
    translate: -100% 0;
    rotate: 45deg;
    transition: all 0.4s ease;
}

.btn_about_st:hover {
    color: #e8e8e8;
    background-color: #29abbf;
    box-shadow: 0 0 24px 8px #29abbf8b;
}

.btn_about_st:hover:before {
    translate: 100%;
}

.btn_about_st:active {
    scale: 0.95;
    box-shadow: 0 0 16px 4px #29abbf8b;
}


/* link-header */
.btn_link_header {
    color: #fff;
    line-height: 2;
    position: relative;
}

.btn_link_header::before {
    content: '';
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: #29abbf;
    position: absolute;
    bottom: -.25rem;
    left: 50%;
    transition: width .4s, left .4s;
}

.btn_link_header:hover::before {
    width: 100%;
    left: 0;
}



/* From Uiverse.io by david-mohseni */
.wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100px;
    padding-top: 40px;
    bottom: 20px;
    left: 20px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
}

.wrapper .icon {
    position: fixed;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #29abbf;
    color: #fff;
}