:root {
    --Basic_color:#A259FF;
    --Background:#2B2B2B;
}

@font-face {
    font-family: fontSans;
    font-style: normal;
    font-weight: 900;
    src: url('../font/WorkSans-Black.ttf') , format('ttf');
}

@font-face {
    font-family: fontSans;
    font-style: normal;
    font-weight: 700;
    src: url('../font/WorkSans-Bold.ttf') , format('ttf');
}

@font-face {
    font-family: fontSans;
    font-style: normal;
    font-weight: 400;
    src: url('../font/WorkSans-Medium.ttf') , format('ttf');
}

.fontSans {
    font-family: fontSans;
}

body {
    font-family: fontSans;
}

.background_color{
    background-color: var(--Background);
}
.text_bg_color{
    color: var(--Background);
}

.background_color_two {
    background-color: #3B3B3B;
}
.text_color_two {
    color: #3B3B3B;
}

.bg_color_basic{
    background-color: var(--Basic_color);
}

.bg_outline_basic {
    border: 2px solid #A259FF;
    color: #fff;
    transition: background-color 300ms;
}
.bg_outline_basic:hover {
    background-color: var(--Basic_color);
}

.text_color_basic{
    color: var(--Basic_color);
}

.nav-link.active{
    background-color: var(--Background);
}

.text-light-50{
    color: #e4e4e4b4;
}

.badge_style {
    top: 18px !important;
    left: 20px !important;
    font-size: 18px !important;
}



.title_top_creators{
    max-width: 100% !important;
}

.fs_creators_title {
    font-size: 22px !important;
}
.fs_creators_subtitle {
    font-size: 14px !important;
}

.fs_btn_creators {
    font-size: 20px !important;
}

.fs_icon_btn_creators {
    width: 20px;
}

.img_size_card_top_creators {
    width: 100% !important;
}

.magic_box {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../img/img-trending/NFT\ Highlight.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
}

.bg_gradient_magic {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top , #a159ffd6 , #ffffff00);
}

.container_magic {
    width: 80% !important;
}

.bg_date_box_magic {
    background-color: #2b2b2b8b;
    backdrop-filter: blur(20px);
}

.fs_work_card_title {
    font-size: 1.75rem !important;
}

.fs_work_card_subtitle {
    font-size: 1.25rem !important;
}
.item_left_form {
    width: 45% !important;
}
.input_group_box {
    max-width: 200px !important;
}
.input_group_box::placeholder {
    font-size: 0.85rem;
}
/* .fs_lg_form_box {
    font-size: 1rem !important;
} */
.fs_title_form_box {
    font-size: 2.175rem !important;
}
.w_sm_100_img_form {
    width: 50%;
}
.w_lg_card_blog {
    width: 100%;
}


/* .img_box_size_card_top_creators {
    width: 100% !important;
} */

#offcanvas-box {
    background-color: var(--Basic_color);
}
#title {
    font-weight: 700; font-size: 60px;
}

@media only screen and (max-width:1400.80px) {
    .rounded_lg{
        border-radius: 1.4rem !important;
    }
}

@media only screen and (max-width:1199.80px) {
    .fs_creators_title {
        font-size: 22px !important;
    }
    .fs_creators_subtitle {
        font-size: 14px !important;
    }
    .badge_style {
        top: 14px !important;
        left: 4px !important;
        font-size: 18px !important;
    }
    .fs_num_lg {
        font-size: 26px !important;
    }
}

@media only screen and (max-width:991.80px) {
    /* .fs_title {
        font-size: 50px !important;
    } */
    .fs_text{
        font-size: 1.125rem !important;
    }
    .rounded_lg{
        border-radius: 1.2rem !important;
    }
    .fs_num_lg {
        font-size: 20px !important;
    }
    .fs_creators_title {
        font-size: 22px !important;
    }
    .fs_creators_subtitle {
        font-size: 16px !important;
    }
    .badge_style {
        top: 18px !important;
        left: 4px !important;
        font-size: 14px !important;
    }
    .fs_btn_creators {
        font-size: 14px !important;
    }
    .title_top_creators{
        max-width: 50% !important;
    }
    .img_size_card_top_creators {
        width: 100% !important;
    }
    .img_box_size_card_top_creators {
        width: 25% !important;
    }
    .container_magic {
        width: 90% !important;
    }
    .fs_work_card_title {
        font-size: 1.32rem !important;
    }
    .fs_work_card_subtitle {
        font-size: 1.12rem !important;
    }
}

@media only screen and (max-width:767.80px) {
    .fs_title {
        font-size: 45px !important;
    }
    .fs_text{
        font-size: 1.125rem !important;
    }

    .fs_creators_title {
        font-size: 22px !important;
    }
    .fs_creators_subtitle {
        font-size: 12px !important;
    }

    .title_sub_text {
        font-size: 28px !important;
    }
    .sub_text {
        font-size: 18px !important;
    }
    .wrap_flex {
        flex-wrap: wrap;
    }
    .title_top_creators{
        max-width: 50% !important;
    }
    .title_top_creators_2 {
        max-width: 55% !important;
    }
    .column_gap_items_md {
        column-gap: 1rem !important;
    }
    .rounded_lg{
        border-radius: 1.1rem !important;
    }
    .fs_work_card_title {
        font-size: 1.75rem !important;
    }
    
    .fs_work_card_subtitle {
        font-size: 1.35rem !important;
    }
    .fs_title_form_box {
        font-size: 1.85rem !important;
    }
    .w_lg_card_blog {
        width: 80%;
    }
    .fs_time_text {
        font-size: 12px !important;
    }
}

@media only screen and (max-width:575.80px) {
    .f_size_title {
        font-size: 30px !important;
    }

    .p_y_nav {
      padding-top: 14px !important;  
      padding-bottom: 14px !important;
    }

    .f_size_brand {
        font-size: 22px !important;
    }

    .logo_size {
        width: 26px;
    }

    .fs_title {
        font-size: 32px !important;
    }

    .f_size_subtitle{
        font-size: 20px !important;
    }

    .f_size_text {
        font-size: 16px !important;
    }

    .f_size_text_num {
        font-size: 24px !important;
    }

    .f_size_btn {
        font-size: 20px !important;
    }
    .title_sub_text {
      font-size: 24px !important;
    }
    .sub_text {
      font-size: 16px !important;
    }
    .fs_btn_creators {
      font-size: 22px !important;
    }
    .title_top_creators{
        max-width: 90% !important;
    }
    .title_top_creators_2 {
      max-width: 90% !important;
    }
      .column_gap_items_md {
        column-gap: 1.5rem !important;
    }
    .fs_num_lg {
        font-size: 28px !important;
    }
    .fs_creators_title {
        font-size: 22px !important;
    }
    .fs_creators_subtitle {
        font-size: 14px !important;
    }
    .w_sm_100_img_form {
        width: 100%;
    }
    .item_left_form {
        width: 80% !important;
    }
    .w_lg_card_blog {
        width: 100%;
    }
}

/* 834 */
/* 1280 */
/* 375 */